@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  background-image: url(../res/tecnologia.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-site {
  z-index: 9999;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(231, 250, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
}
.header-site h1 {
  margin-left: 10px;
  color: #a5cc57;
  font-size: 70px;
  font-family: "Libre Barcode 128 Text", cursive;
  text-shadow: -5px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: auto;
}
.navbar-links-container ul {
  list-style: none;
  display: flex;
  margin-top: 5px;
}
.header-site li a {
  text-decoration: none;
  margin: 60px;
  color: #07becc;
  font-weight: bolder;
  transition: all 0.3s ease 0s;
}
.header-site li a:hover {
  color: #4d4d4d;
}
:is(.fa-home,.fa-users,.fa-id-badge){
  margin-right: 5px;

}
.video-container{
  width: 100%;
  padding-top: 2.6cm;
  padding-left:50px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.youtube{
  border-radius: 20px;
  width: 1000px;
  height: 550px;
}
.readable{
  margin: 2.6cm 50px;
  width: fit-content;
}
.readable>fieldset{
  font-weight: bold;
  font-size: xx-large;
  border: 0.08cm solid #4d4d4d;
  border-radius: 20px;
}
.documentation{
  width: 1000px;
  height: 600px;
  border-radius: 20px;
}








::-webkit-scrollbar {
    width: 0.5cm;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: #a5cc57;
    border-radius: 20px;
    margin: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #07becc;
    border-radius: 20px;
    height: 100px;
  }


  @media all and (max-width:1200px){
    .header-site h1{
        font-size: 65px;
    }
    .header-site li a{
        margin: 40px;
        font-size: 15px;
    }
    .youtube{
        width: 800px;
        height: 500px;
    }
    .documentation{
        width: 800px;
        height: 600px;
    }
}
@media all and (max-width:1000px){
    .header-site h1{
      font-size: 60px;
    }
    .header-site li a{
      margin: 30px;
    }
    .youtube{
        width: 700px;
        height: 400px;
    }
    .documentation{
        width: 700px;
        height: 550px;
    }
}
@media all and (max-width:850px){
    .header-site h1{
      font-size: 45px;
    }
    .header-site  a{
      font-size: 13px;
      font-weight: bolder;
      background-color: aliceblue;
      border-radius: 10px;
      border: 0.1cm solid #a5cc57;
      padding: 3px;
    }
    .video-container{
        padding-left:0px;
        justify-content: center;
    }
    .youtube{
        margin-left: 0;
        width: 600px;
        height: 400px;
    }
    .readable{
        width: 100%;
        padding-top: 2.6cm;
        padding-bottom: 20px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .documentation{
        width: 600px;
        height: 550px;
    }
}
@media all and (max-width:650px){
    .header-site{
        height: fit-content;
    }
    .header-site h1{
        font-size: 40px;
    }
    .header-site li a{
        font-size: 15px;
    }
    .youtube{
        margin-left: 0;
        width: 400px;
        height: 250px;
    }
    .documentation{
        width: 350px;
        height: 550px;
    }
    ::-webkit-scrollbar{
        width: 0.5em;
    }
}
@media all and (max-width:400px){
    .header-site{
        flex-direction: column;
        height: min-content;
    }
    .video-container{
        padding-top:120px;
        justify-content: center;
    }
    .youtube{
        margin-left: 0;
        width: 350px;
        height: 200px;
    }
}

