@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: 5px;
    background: url(../res/tecnologia.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.header-site{
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(231, 250, 255,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-site h1{
    margin-left: 10px;
    color: #a5cc57;
    font-size: 70px;
    font-family: 'Libre Barcode 128 Text', cursive;
    text-shadow: -5px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: auto;
}
.navbar-links-container ul{
    list-style: none;
    display: flex;
    margin-top: 5px;
}
.header-site li a{
    text-decoration: none;
    margin: 60px;
    color: #07becc;
    font-weight: bolder;
    transition: all 0.3s ease 0s;
}
.header-site li a:hover{
    color: #4d4d4d;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .wrapper{
      padding: 20px;
      margin-top: 2.6cm;
      display: flex;
      flex-direction: column;
      font-family: sans-serif;
      width: 50%;
  }
  .wrapper textarea{
      resize: none;
  }
  .form-wrapper{
      text-align: left;
      font-weight: bold;
      
  }
  .footer{
    width: 100%;
    height: 100vh;
    padding-top: 2.5cm;
    display: flex;
    flex-direction: column;

}
.about-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
    
.info-container{
    padding: 10em 0em;
    background-color: rgba(231, 250, 255,0.8);
    padding-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    

}
.info-container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 0.1cm solid #4d4d4d;
    border-radius: 40%;
    transition: all 0.3s ease-in-out 0s ;
    
}
.info-container img:hover{
    transform:rotate(20deg);
}
.info-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Libre Barcode 128 Text', cursive;
}
::-webkit-scrollbar{
    width: 0.5cm;
    background: transparent;
}
::-webkit-scrollbar-track{
    background-color: #a5cc57;
    border-radius: 20px;
    margin: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #07becc;
    border-radius: 20px;
    height: 100px;
}







