@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    background-image: url(../res/tecnologia.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.header-site{
    padding-left: 10px;
    padding-right: 20px;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(231, 250, 255,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-site h1{
    margin-left: 10px;
    color: #a5cc57;
    font-size: 70px;
    font-family: 'Libre Barcode 128 Text', cursive;
    text-shadow: -5px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: auto;
}
.header-site a{
    text-decoration: none;
    color: #07becc;
    font-weight: bolder;
    border: none;
    transition: all 0.4s ease 0s;
}
.header-site a:hover{
    color: #4d4d4d;
}
:is(.fa-home,.fa-users,.fa-id-badge){
    margin-right: 5px;
  
  }
.video-container{
    width: 95%;
    margin-top: 2.6cm;
    margin: 2.6cm 50px;
    display: flex;
    gap: 2px;
}
.youtube{
    border-radius: 20px;
    width: 1000px;
    height: 550px;
}
.readable{
    margin: 2.6cm 50px;
    width: fit-content;
}
.readable>fieldset{
    font-weight: bold;
    font-size: xx-large;
    border: 0.08cm solid #4d4d4d;
    border-radius: 20px;
}
.documentation{
    width: 1000px;
    height: 600px;
    border-radius: 20px;
}
    













::-webkit-scrollbar{
    width: 0.5cm;
    background: transparent;
}
::-webkit-scrollbar-track{
    background-color: #a5cc57;
    border-radius: 20px;
    margin: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #07becc;
    border-radius: 20px;
    height: 100px;
}