@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../res/tecnologia.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.header-site{
    padding-left: 10px;
    padding-right: 20px;
    z-index: 9999;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(231, 250, 255,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-site h1{
    margin-left: 10px;
    color: #a5cc57;
    font-size: 70px;
    font-family: 'Libre Barcode 128 Text', cursive;
    text-shadow: -5px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: auto;
}
.header-site a{
    text-decoration: none;
    color: #07becc;
    font-weight: bolder;
    border: none;
    transition: all 0.4s ease 0s;
}
.header-site a:hover{
    color: #4d4d4d;
}
:is(.fa-home,.fa-users,.fa-id-badge){
    margin-right: 5px;
  
  }
.video-container{
    width: 95%;
    gap :30px;
}
:is(.frontend-fieldset,.backend-fieldset){
    background-color: rgba(231, 250, 255,0.5);
    padding: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: #07becc;
    border-radius: 30px;
    border: 0.2cm solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}
:is(.frontend-fieldset,.backend-fieldset) iframe{
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    height: 450px;
}
.frontend-documentation-container{
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    color: #07becc;
    width: 100%;
    height: fit-content;
    padding: 40px;
    width: 95%;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(231, 250, 255,0.5);
    border: 0.2cm solid black;
    border-radius :30px;
}
.frontend-documentation-elements{
    border: 0.15cm solid black;
    padding: 20px;
    margin: 40px;
    border-radius: 30px;
}
.frontend-documentation-elements iframe{
    width: 100%;
    height: 100vh;
    border-radius: 30px;
}
.fa-angle-double-down{
    position: absolute;
    bottom: 4%;
    right: 2%;
    animation:  animation1 1s infinite alternate-reverse ;
    transition: all 0.4s ease 0s;
}
@keyframes animation1{
    to{transform: translateY(30px);}
}
.fa-angle-double-down:hover{
    text-shadow: -5px -1px 0 #000, 0px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation-duration: 0s;
}
.backend-documentation-container{
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    color: #07becc;
    width: 100%;
    height: fit-content;
    padding: 40px;
    width: 95%;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(231, 250, 255,0.5);
    border: 0.2cm solid black;
    border-radius :30px;
}
.backend-documentation-elements{
    border: 0.15cm solid black;
    padding: 20px;
    margin: 40px;
    border-radius: 30px;
}
.backend-documentation-elements iframe{
    width: 100%;
    height: 100vh;
    border-radius: 30px;
}








::-webkit-scrollbar {
    width: 0.5cm;
    background: transparent;
}
::-webkit-scrollbar-track {
    background-color: #a5cc57;
    border-radius: 20px;
    margin: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #07becc;
    border-radius: 20px;
    height: 100px;
}



@media all and (max-width:1200px){
    .header-site h1{
        font-size: 65px;
    }
    .header-site li a{
        margin: 40px;
        font-size: 15px;
    }
}
@media all and (max-width:1000px){
    .header-site h1{
      font-size: 60px;
    }
    .header-site li a{
      margin: 30px;
    }
}
@media all and (max-width:850px){
    .header-site h1{
      font-size: 45px;
    }
    .header-site  a{
      font-size: 13px;
      font-weight: bolder;
      background-color: aliceblue;
      border-radius: 10px;
      border: 0.1cm solid #a5cc57;
      padding: 3px;
    }
}
@media all and (max-width:650px){
    .header-site{
        height: fit-content;
    }
    .header-site h1{
        font-size: 40px;
    }
    .header-site li a{
        font-size: 15px;
    }
    ::-webkit-scrollbar{
        width: 0.5em;
    }
}
@media all and (max-width:400px){
    .header-site{
        flex-direction: column;
        height: min-content;
    }
}
